.main-toolbar {
  gap: 8px;

  img {
    color: white;
    filter: invert(100%);
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.main-screen {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: calc(100vh - 64px - 64px);

  div {
    flex: 1 1 50%;
  }
}

.pad {
  border-right: solid 1px grey;

  .pad-toolbar {
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    border-bottom: solid 1px grey;
  }

  .textarea-container {
    height: calc(100% - 64px);

    textarea {
      resize: none;
      width: 100%;
      min-width: 100%;
      max-width: 50vh;
      height: 100%;
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}

.result {
  padding: 8px;
  overflow-y: auto;
}

.footer-toolbar {
  font-size: 14px;
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: 16px;
}


@media only screen and (max-width: 600px) {
  .textarea-container {
    height: calc(100% - 56px);
  }

  .main-screen {
    height: calc(100vh - 56px - 56px);
  }

  .title {
    display: none;
  }
}
