@use '@angular/material' as mat;
@use './app.theme-colors' as app-theme;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      primary: app-theme.$primary-palette,
      tertiary: app-theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0
  ));

  --mat-toolbar-standard-height: 64px;
  --mat-toolbar-mobile-height: 56px;
}

@media (pointer: fine) {
  html {
    @include mat.theme((density: -2));
  }
}

@media (prefers-contrast: more) {
  @include app-theme.high-contrast-overrides(color-scheme);
}