<mat-toolbar color="primary" class="main-toolbar">
  <div class="window-app-control-safe-zone">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-markdown" viewBox="0 0 16 16">
      <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2z"/>
      <path fill-rule="evenodd" d="M9.146 8.146a.5.5 0 0 1 .708 0L11.5 9.793l1.646-1.647a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 0-.708"/>
      <path fill-rule="evenodd" d="M11.5 5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 1 .5-.5"/>
      <path d="M3.56 11V7.01h.056l1.428 3.239h.774l1.42-3.24h.056V11h1.073V5.001h-1.2l-1.71 3.894h-.039l-1.71-3.894H2.5V11z"/>
    </svg>
    <button mat-icon-button [matMenuTriggerFor]="mainMenu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #mainMenu="matMenu">
      @if (fileSystemEnabled) {
        <button mat-menu-item (click)="openFile()">
          <mat-icon>folder</mat-icon>
          <span>Ouvrir...</span>
        </button>
      }
      @if (fileSystemFileHandle) {
        <button mat-menu-item (click)="saveFile()">
          <mat-icon>save</mat-icon>
          <span>Enregistrer</span>
        </button>
      }
      @if (!fileSystemEnabled || !fileSystemFileHandle) {
        <button mat-menu-item (click)="saveFile()">
          <mat-icon>file_download</mat-icon>
          <span>Télécharger...</span>
        </button>
      }
      @if (fileSharerEnabled) {
        <button mat-menu-item (click)="shareFile()" [disabled]="!this.formControl.value">
          <mat-icon>share</mat-icon>
          <span>Partager...</span>
        </button>
      }
      @if (fileSystemFileHandle) {
        <button mat-menu-item (click)="closeFile()">
          <mat-icon>close</mat-icon>
          <span>Fermer le fichier</span>
        </button>
      }
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="optionsDialog()">
        <mat-icon>settings</mat-icon>
        <span>Paramètres...</span>
      </button>
      <button mat-menu-item (click)="aboutDialog()">
        <mat-icon>info</mat-icon>
        <span>À propos de l'éditeur...</span>
      </button>
    </mat-menu>
    <div class="toolbar-spacer"></div>
    <span class="title">{{ fileSystemFileHandle ? fileSystemFileHandle.name : "Nouveau fichier" }}</span>
    <div class="toolbar-spacer"></div>
    @if (screenState == 'result-only') {
      <button mat-icon-button (click)="screenState = 'pad-only'"
        matTooltip="Revenir à l'éditeur">
        <mat-icon>edit</mat-icon>
      </button>
    }
    @if (screenState == 'pad-only') {
      <button mat-icon-button (click)="screenState = 'result-only'"
        matTooltip="Voir le résultat">
        <mat-icon>auto_awesome</mat-icon>
      </button>
    }
  </div>
</mat-toolbar>
<div class="main-screen">
  @if (screenState != 'result-only') {
    <div class="pad">
      <div class="pad-toolbar">
        <button mat-icon-button [matMenuTriggerFor]="formatMenu" matTooltip="Titre">
          <mat-icon>format_size</mat-icon>
        </button>
        <mat-menu #formatMenu="matMenu">
          <button mat-menu-item (click)="header(1)">
            <mat-icon>title</mat-icon>
            <span>Titre 1</span>
          </button>
          <button mat-menu-item (click)="header(2)">
            <mat-icon>title</mat-icon>
            <span>Titre 2</span>
          </button>
          <button mat-menu-item (click)="header(3)">
            <mat-icon>title</mat-icon>
            <span>Titre 3</span>
          </button>
          <button mat-menu-item (click)="header(4)">
            <mat-icon>title</mat-icon>
            <span>Titre 4</span>
          </button>
          <button mat-menu-item (click)="header(5)">
            <mat-icon>title</mat-icon>
            <span>Titre 5</span>
          </button>
          <button mat-menu-item (click)="header(6)">
            <mat-icon>title</mat-icon>
            <span>Titre 6</span>
          </button>
        </mat-menu>
        <button mat-icon-button matTooltip="Gras" (click)="bold()">
          <mat-icon>format_bold</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Italique" (click)="italic()">
          <mat-icon>format_italic</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Barré" (click)="strikethrough()">
          <mat-icon>format_strikethrough</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Citation" (click)="quote()">
          <mat-icon>format_quote</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Lien" (click)="link()">
          <mat-icon>link</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Image" (click)="image()">
          <mat-icon>image</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Bloc de code" (click)="code()">
          <mat-icon>code</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Liste" (click)="list_bulleted()">
          <mat-icon>format_list_bulleted</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Liste numérotée" (click)="list_numbered()">
          <mat-icon>format_list_numbered</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Tableau" (click)="table()">
          <mat-icon>table_chart</mat-icon>
        </button>
      </div>
      <div class="textarea-container">
        <textarea #text placeholder="Saisissez du texte en Markdown..." [formControl]="formControl"
        [spellcheck]="spellcheck" autofocus></textarea>
      </div>
    </div>
  }
  @if (screenState != 'pad-only') {
    <div class="result">
      <markdown [data]="formControl.value"></markdown>
    </div>
  }
</div>