<mat-toolbar color="primary" class="main-toolbar">
  <img src="/assets/icons/icon-72x72.png" alt="" height="32">
  <span>Éditeur Markdown</span>
  <div class="toolbar-spacer"></div>
  <button mat-mini-fab color="" matTooltip="Correcteur orthographique">
    <mat-icon>spellcheck</mat-icon>
  </button>
  <button mat-mini-fab color="" matTooltip="Enregistrer">
    <mat-icon>save_alt</mat-icon>
  </button>
</mat-toolbar>
<div class="main-screen">
  <div class="pad">
    <div class="pad-toolbar">
      <button mat-stroked-button color="" matTooltip="Gras">
        <mat-icon>format_bold</mat-icon>
      </button>
      <button mat-stroked-button color="" matTooltip="Italique">
        <mat-icon>format_italic</mat-icon>
      </button>
      <button mat-stroked-button color="" matTooltip="Gras">
        <mat-icon>format_bold</mat-icon>
      </button>
      <button mat-stroked-button color="" matTooltip="Gras">
        <mat-icon>format_bold</mat-icon>
      </button>
      <button mat-stroked-button color="" matTooltip="Gras">
        <mat-icon>format_bold</mat-icon>
      </button>
      <button mat-stroked-button color="" matTooltip="Gras">
        <mat-icon>format_bold</mat-icon>
      </button>
    </div>
    <textarea></textarea>
  </div>
  <div class="result">

  </div>
</div>
<mat-toolbar class="footer-toolbar">
  <p>(C) Quentin Pugeat</p>
</mat-toolbar>
