.main-toolbar {
  -webkit-app-region: drag;

  .window-app-control-safe-zone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    height: env(titlebar-area-height, 100%);
    width: env(titlebar-area-width, 100%);

    button {
      -webkit-app-region: no-drag;
    }

    img {
      color: white;
      filter: invert(100%);
    }

    .toolbar-spacer {
      flex: 1 1 auto;
      height: 100%;
    }
  }

  .title {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.main-screen {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  height: calc(100vh - var(--mat-toolbar-standard-height));
  overflow: hidden;

  >div {
    flex: 1 1 50%;
  }

  .pad {
    border-right: solid 1px grey;

    .pad-toolbar {
      padding: 5px;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      border-bottom: solid 1px grey;
    }

    .textarea-container {
      height: calc(100% - var(--mat-toolbar-standard-height));

      textarea {
        background-color: inherit;
        color: inherit;
        font-size: 14px;
        resize: none;
        width: 100%;
        min-width: 100%;
        max-width: 50vh;
        height: 100%;
        padding: 1px;
        margin: 0;
        border: 0;
      }
    }
  }

  .result {
    padding: 8px;
    overflow-y: auto;

    img {
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 599px) {
  .main-screen {
    height: calc(100vh - var(--mat-toolbar-mobile-height));

    .pad {
      .textarea-container {
        height: calc(100% - var(--mat-toolbar-mobile-height));
      }
    }
  }
}