<h2 mat-dialog-title>À propos de Markdown Editor</h2>
<mat-dialog-content>
    <p>Un éditeur Markdown simple, portable et réactif.</p>
    <p>Version 2.2.0.0</p>
    <p>&copy; 2022-2024 Quentin Pugeat</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>OK</button>
    <a mat-button target="_blank" rel="noopener noreferrer" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Aide</a>
    <a mat-button target="_blank" rel="noopener noreferrer" href="https://github.com/RNbowKing/markdown-editor">Code source</a>
    <a mat-button target="_blank" rel="noopener noreferrer" href="https://www.quentinpugeat.fr/legal">Mentions légales</a>  
</mat-dialog-actions>