<h2 mat-dialog-title>À propos de Markdown Editor</h2>
<mat-dialog-content>
    <p>
        Un éditeur Markdown simple, portable et réactif.<br>
        Un projet des Majesticiels.
    </p>
    <p>
        Version 2.3.0.0<br>
        &copy; 2022-2024 Quentin Pugeat
    </p>

    <mat-divider></mat-divider>
    
    <a mat-button target="_blank" rel="noopener noreferrer" href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
        <mat-icon>summarize</mat-icon> Markdown Cheatsheet
    </a><br>
    <a mat-button target="_blank" rel="noopener noreferrer" href="https://www.lesmajesticiels.org/support/kb/product/markdowneditor">
        <mat-icon>help</mat-icon> Aide
    </a><br>
    <a mat-button target="_blank" rel="noopener noreferrer" href="https://github.com/RNbowKing/markdown-editor">
        <mat-icon>code</mat-icon> Code source
    </a><br>
    <a mat-button target="_blank" rel="noopener noreferrer" href="https://www.lesmajesticiels.org/legal">
        <mat-icon>policy</mat-icon> Mentions légales
    </a>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Fermer</button>
</mat-dialog-actions>